*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    color: black;
}
.back-button {
    display: flex;
    justify-content: center;
}
label {
    color: white;
}
body
{
    background: url('black-wallpaper-with-motion-lines-background_1017-30151.jpg') no-repeat center center/cover;
    background-size: 140%;
    background-position: -400px 0;
}
.main
{
    width: 350px;
    margin: 60px auto 0px auto;
}
h1
{
    text-align: center;
    padding: 20px;
}
.register
{
    background-color: rgb(62 62 62 / 70%);
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}
#register {
    margin-left: 100px;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
}
label
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#submit
{
    height: 40px;
    color: black;
    text-align: center;
    font-size: large;
    border-radius: 30px !important;
}
#name, #email, #phone, #submit{
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    width: 300px;
}
input {
    border-radius: 20px !important; 
}
#submit
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%px;
    background-color: grey;
    padding: 5px;
}
#submit:hover
{
    background-color: black;
    color: grey;
}
.form-items {
    margin-bottom: 20px;
}